{% extends "layout.html" %}

{% block content %}

{% if next_course %}
<div class="timer-card">

    <p class="next-title" >NEXT COURSE</p>

    <h2 class="course-name" id="course-name">
        {{ next_course['Name'] }}
    </h2>

    <p class="course-time">
        <i class="bi bi-clock"></i>
        Starts at {{ next_course['start_time'] }}
    </p>

    <div class="countdown">

        <div class="time-box">
            <span class="number" id="hours"></span>
            <span class="label1">hrs</span>
        </div>

        <div class="time-box">
            <span class="number" id="minutes"></span>
            <span class="label1">min</span>
        </div>
        <div class="time-box">
            <span class="number" id="seconds"></span>
            <span class="label1">sec</span>
        </div>

    </div>

</div>

{% else %}

<div class="timer-card">
    <h2>No more courses today.</h2>
</div>

{% endif %}


<p class="welcoming">Wellcome back <p class="wuser">{{user}}</p></p>


<div class="attendance-card">

    <div class="attendance-header">
        <i class="bi bi-calendar-check"></i>
        <h3>Attendance Summary</h3>
    </div>

    <div class="attendance-row">
        <span>Present</span>
        <strong>{{ present }}</strong>
    </div>

    <div class="attendance-row">
        <span>Absent</span>
        <strong>{{ absent }}</strong>
    </div>

   
    

    <div class="progress">
        <div class="progress-fill"
             style="width: {{ attendance_rate }}%;"></div>
    </div>

    <p class="rate">{{ attendance_rate }}% Attendance Rate</p>

</div>

<div class="attendance-chart-card">

    <h3>Attendance Overview</h3>

    <canvas id="attendanceChart"></canvas>

</div>

{% if next_course %}
<script>

    let remaining = {{ remaining_seconds }} ;

    function updateTimer() {

        if (remaining <= 0) {
            location.reload();   // عندما ينتهي الوقت اجلب الكورس الجديد
            return;
        }

        let hrs = Math.floor(remaining / 3600);
        let mins = Math.floor((remaining % 3600) / 60);
        let secs = remaining % 60;

        document.getElementById("hours").textContent = String(hrs).padStart(2,"0");
        document.getElementById("minutes").textContent = String(mins).padStart(2,"0");
        document.getElementById("seconds").textContent = String(secs).padStart(2,"0");

        remaining--;
    }

    updateTimer();
    setInterval(updateTimer,1000);
    </script>
    {% endif %}

    <script>
    const ctx = document.getElementById('attendanceChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Present', 'Absent'],
            datasets: [{
                data: [{{ present }}, {{ absent }}],
                backgroundColor: [
                    '#22c55e',
                    '#ef4444'
                ],
                borderWidth: 0
            }]
        },
        options: {
            plugins: {
                legend: {
                    position: 'bottom'
                }
            },
            cutout: '70%'
        }
    });
</script>
    
    {% endblock %}

  </body>
</html>
  