{% extends "layout.html" %}

{% block content %}

{% if next_course %}
<div class="timer-card">

    <p class="next-title" >NEXT COURSE</p>

    <h2 class="course-name" id="course-name">
        {{ next_course['Name'] }}
    </h2>

    <p class="course-time">
        <i class="bi bi-clock"></i>
        Starts at {{ next_course['start_time'] }}
    </p>

    <div class="countdown">

        <div class="time-box">
            <span class="number" id="hours"></span>
            <span class="label1">hrs</span>
        </div>

        <div class="time-box">
            <span class="number" id="minutes"></span>
            <span class="label1">min</span>
        </div>
        <div class="time-box">
            <span class="number" id="seconds"></span>
            <span class="label1">sec</span>
        </div>

    </div>

</div>

{% else %}

<div class="timer-card">
    <h2>No more courses today.</h2>
</div>

{% endif %}


<p class="welcoming">Wellcome back <p class="wuser">{{user}}</p></p>
    <script>
    document.getElementById('bell').onclick = function() {
    var menu = document.getElementById('notification');
    if (menu.style.display === "none" || menu.style.display === "") {
        menu.style.display = "block";
    } else {
        menu.style.display = "none";
    }
};
</script>
{% if next_course %}
<script>

    let remaining = {{ remaining_seconds }} ;

    function updateTimer() {

        if (remaining <= 0) {
            location.reload();   // عندما ينتهي الوقت اجلب الكورس الجديد
            return;
        }

        let hrs = Math.floor(remaining / 3600);
        let mins = Math.floor((remaining % 3600) / 60);
        let secs = remaining % 60;

        document.getElementById("hours").textContent = String(hrs).padStart(2,"0");
        document.getElementById("minutes").textContent = String(mins).padStart(2,"0");
        document.getElementById("seconds").textContent = String(secs).padStart(2,"0");

        remaining--;
    }

    updateTimer();
    setInterval(updateTimer,1000);
    </script>
    {% endif %}
    {% endblock %}

  </body>
</html>
  
