{% extends "layout.html" %}

{% block content %}

{% if next_course %}
<div class="timer-card">

    <p class="next-title" >NEXT COURSE</p>

    <h2 class="course-name" id="course-name">
        {{ next_course['Name'] }}
    </h2>

    <p class="course-time">
        <i class="bi bi-clock"></i>
        Starts at {{ next_course['start_time'] }}
    </p>

    <div class="countdown">

        <div class="time-box">
            <span class="number" id="timer-hours">{{ hours }}</span>
            <span class="label1">hrs</span>
        </div>

        <div class="time-box">
            <span class="number" id="timer-minutes">{{ minutes }}</span>
            <span class="label1">min</span>
        </div>

    </div>

</div>

{% else %}

<div class="timer-card">
    <h2>No more courses today.</h2>
</div>

{% endif %}


<p class="welcoming">Wellcome back <p class="wuser">{{user}}</p></p>
    <script>
    document.getElementById('bell').onclick = function() {
    var menu = document.getElementById('notification');
    if (menu.style.display === "none" || menu.style.display === "") {
        menu.style.display = "block";
    } else {
        menu.style.display = "none";
    }
};

setInterval(() => {
    window.location.reload();
}, 55000); // كل دقيقة
    </script>
    {% endblock %}

  </body>
</html>
  