<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta ="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="نظام تحضير الخدمة, خدمة الكنيسة, إدارة الخدام, نظام إدارة الكنيسة, تحضير الدروس, مدارس الأحد, جدول الخدمة, حضور الخدام, إدارة الفصول, Church Service Preparation System, Church Management System, Sunday School Management, Volunteer Management, Service Scheduling, Lesson Preparation, Attendance System, Django Project, Bootstrap Dashboard"
    />
    <meta name="author" content="Antwan Beshay" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#1E3A5F" />
    {% if title %}
    <title>Sps - {{ title }}</title>
    {% else %}
    <title>Sps</title>
    {% endif %}
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/Top_logo-removebg-preview.png') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    
   
    <header>
      </center>

      <div class="lhead">
        <img src="{{ url_for('static', filename='img/Top_logo-removebg-preview.png')}}" alt="logo in head"  class="lhead">
      </div>
      
     <div>
      <img src="{{ url_for('static', filename='img/Bell.png')}}" class="bell" id="bell">
      {% if notification %}
      <div class="reddot"></div>
      
      
       {% endif %}

    </div>
     
     
     <a class="user" href='{{url_for("Profile")}}'>{{ session.get("fname")}} {{session.get("lname")}} </a>
     <div class="profile">
      <img  src="{{ url_for('static', filename='img/profile.png')}}" alt="profile-icon" class="profile">
     </div>

  
     </center>
    </header>

  
     <section class="notification" id="notification">

    {% if notification %}


        <div class="message">
            <h4 class="content" id="notif-title">{{ notification.title }}</h4>

            <p class="content" id="notif-message">
            
                {{ notification.message }}
            </p>
        </div>

        <button class="delete" type="button">
            <img src="{{ url_for('static', filename='img/delet.png') }}" alt="delete" class="delet" >
        </button>

    {% else %}

        <div class="">
            <center>
            <p class="No">No notifications.</p>
            </center>
        </div>

    {% endif %}

</section>
      
  <aside>
    <center>

      <a href="{{ url_for('Dashboard') }}"
   class="{% if title == 'Dashboard' %}active{% endif %}">
    <i class="bi bi-house" style="{% if request.endpoint == 'Dashboard' %}color:#0066cc;{% else %}color: #1e293b;{% endif %}"  data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="Dashboard"> </i>
</a>

<a href="{{ url_for('coursess') }}"
   class="{% if title == 'Courses' %}active{% endif %}">
    <i class="bi bi-book" style="{% if request.endpoint == 'coursess' %}color:#0066cc;{% else %}color: #1e293b;{% endif %}" data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="All Courses"></i>
</a>

<a href="{{ url_for('Today') }}">
    <i class="bi bi-person-workspace" lass="bi bi-book" style="{% if request.endpoint == 'Today' %}color:#0066cc;{% else %}color: #1e293b;{% endif %}" data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="Today's Courses"></i>
</a>

<a href="{{ url_for('attendance') }}"
   class="{% if title == 'Attendance' %}active{% endif %}">
    <i class="bi bi-calendar-check" style="{% if request.endpoint == 'attendance' %}color:#0066cc;{% else %}color: #1e293b;{% endif %}" title="attendance" data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="Attendance"></i>
</a>

<a href="{{ url_for('preparation') }}"
   class="">
    <i class="bi bi-journal-bookmark-fill"  style="{% if request.endpoint == 'preparation' %}color:#0066cc;{% else %}color: #1e293b;{% endif %}" data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="Preparation"></i>
</a>

    </center>
</aside>

    {% block content %}

    

{% endblock %}

<script>
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');

tooltipTriggerList.forEach(el => {
    new bootstrap.Tooltip(el, {
        delay: {
            show: 300,
            hide: 100
        }
    });
});

const links = document.querySelectorAll("aside a");

links.forEach(link => {
    if (link.href === window.location.href) {
        link.classList.add("active");
    }
});
</script>

    </body>
    </html>
