{% extends "layout.html" %}

{% block content %}
    <div class="today">
        {{today}}
    </div>
  
    <div class="courses-container">
    {% for course in courses %}

    <div class="course-card">
      <center>
      <h3>{{ course['Name'] }}</h3>
        <i class="{{ course['icon'] }}"></i>

        <div class="time">
             {{course['start_time'] ~  "  to  "  ~ course['end_time'] }}
          
        </div>
        </center>
    </div>
    {% endfor %}
</div>
    <script>
      document.getElementById('bell').onclick = function() {
    var menu = document.getElementById('notification');
    if (menu.style.display === "none" || menu.style.display === "") {
        menu.style.display = "block";
    } else {
        menu.style.display = "none";
    }
};


    </script>
    {% endblock %}
  </body>
</html>
  